<h1><%= @employee.name %> Page</h1>
<br>
Department: <%= @employee.department.name %>
<br><br>
Tickets: 
<div id= "all_tks">
  <% @tickets.each do |ticket| %>
      <%= ticket.subject %>, 
        Age: <%= ticket.age %>
        <br>
  <% end %>
</div>
Oldest Ticket: <%= @tickets.first.subject %>
<br><br>
Add Ticket to Department: 
<%= form_with url: "/employees/#{@employee.id}", method: :patch, local: true do |form| %>
  <%= form.label :ticket_id, "Ticket Id Number:" %><br>
  <%= form.text_field :ticket_id %>
  <%= form.submit "Submit" %>
<% end %>